*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-white: #ffffff;
  --color-grey: #f1f1f7;
}

body {
  background-color: var(--color-grey);
}

@font-face {
  font-family: "strokeWeight";
  font-style: "Regular";
  src: url("/src/assets/fonts/strokeWeight-060.ttf") format("truetype");
}

/* 
@font-face {
  font-family: "Founders Grotesk Condensed Regular";
  font-style: "Regular";
  font-weight: 100;
  src: url("/src/assets/fonts/Founders\ Grotesk\ -\ X-Condensed\ Reg.otf")
    format("truetype");
} */
